@font-face {
    font-family: 'Mulish Regular';
    src: url(../fonts/Mulish-Regular.ttf);
}

@font-face {
    font-family: 'Mulish Medium';
    src: url(../fonts/Mulish-Medium.ttf);
}

@font-face {
    font-family: 'Mulish Bold';
    src: url(../fonts/Mulish-Bold.ttf);
}

