@import "fonts.css";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --uBold: "Uni Bold";
  --uBook: "Uni Book";
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.main__text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 39px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  margin-top: 20px;
}

.main__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(48.63deg, #50cc91 -23.77%, #0094ff 142.56%);
  opacity: 0.15;
  border-radius: 0px;
  width: 100%;
  height: 100%;
}

.main__text-info {
  font-family: var(--uBook);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 940px;
}

.main__text-span {
  font-family: var(--uBold);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.use {
  margin-top: 100px;
  margin-bottom: 100px;
}

.use-bg {
  background: #fafafa;
}

.use__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  gap: 200px;
}

.use__content-info {
  z-index: 10;
  max-width: 355px;
}

.use__content-green {
  width: 750px;
  height: 482px;
  position: absolute;
  left: 0;
  background: #33cc80;
  z-index: 1;
}

.use__content-title {
  font-family: var(--uBold);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.use__content-btn {
  font-family: var(--uBold);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  background: none;
  border: 1px solid white;
  padding: 15px 60px;
  margin-top: 30px;
  color: white;
}

.use__content-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.use__grid-title {
  font-family: var(--uBold);
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}

.use__grid-text {
  font-family: var(--uBook);
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 250px;
}

.chart__title {
  font-family: var(--uBold);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}

.chart__subtitle {
  font-family: var(--uBold);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 58px;
  margin-bottom: 36px;
}

.chart__content {
  width: 100%;
  position: relative;
}

.chart__content img {
  width: 100%;
}

.chart__content-subinfo {
  display: flex;
  justify-content: space-evenly;
}

.chart__content-date {
  font-family: var(--uBook);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 75px;
}

.chart__content-usdt {
  position: absolute;
  transform: rotate(-90deg);
  left: -3.7%;
  top: 6%;
  font-family: var(--uBook);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.chart__offer {
  display: flex;
  gap: 22px;
  margin-bottom: 50px;
  position: relative;
  z-index: 100;
}

.chart__offer-item {
  background: #262626;
  width: 380px;
  padding: 33px 43px 32px 31px;
  position: relative;
}

.chart__offer-head {
  display: flex;
  align-items: center;
}

.chart__offer-cost {
  font-family: var(--uBold);
  font-size: 28px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #33cc7f;
  margin-left: 9px;
}

.chart__offer-text {
  font-family: var(--uBook);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 306px;
  color: #cccccc;
  margin-bottom: 8px;
  margin-top: 11px;
}

.chart__offer-text span {
  color: white;
  border-bottom: 1px solid #33cc7f;
}

.chart__offer-age {
  color: #33cc80 !important;
  font-family: var(--uBold);
  text-decoration: none !important;
  border: none !important;
}

.chart__offer-subtitle {
  font-family: var(--uBold);
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-top: 8px;
}

.chart__offer-hand {
  position: absolute;
  right: 5%;
  top: -18%;
}

.chart-end {
  background: #fafafa;
  padding-top: 100px;
  padding-bottom: 100px;
  transform: translateY(-100px);
}

.chart__link {
  font-family: var(--uBold);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  background: #33cc80;
  border-radius: 3px;
  border: 1px solid transparent;
  display: block;
  margin: 0 auto;
  padding: 14px 60px;
  color: white;
  cursor: pointer;
}

.diagram__title {
  font-family: var(--uBold);
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.diagram__subtitle {
  font-family: var(--uBook);
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 800px;
  margin-bottom: 50px;
}

.diagram__content {
    transform: translateX(-10.5%);
}

.diagram__content img {
    transform: translateY(-140px);
}
